<!DOCTYPE html>
<html>
<head>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    body { padding: 0; margin: 0; }
    .el-container, .el-aside { height: 100vh }
    .el-menu { height: calc(100vh - 70px) }
  </style>
</head>
<body>
  <div id="app">
    <el-container>
      <el-aside>
        <div style="height: 70px; padding: 15px 20px; border-right: solid 1px #e6e6e6; box-sizing: border-box;">
          <el-button size="small" @click="dialogVisible = true">Authorization</el-button>
          <el-button size="small" @click="getBucket(null)">
            New Bucket
          </el-button>
        </div>
        <el-menu :default-active="activeBucket">
          <el-menu-item v-for="bucket in buckets" :key="bucket.id" :index="bucket.id" @click="getBucket(bucket.id)">
            {{ bucket.name }}
          </el-menu-item>
        </el-menu>
      </el-aside>
      <el-main v-loading="loading">
        <template v-if="activeBucket">
          <h3 style="margin-top: 0">{{bucketDetail.name}} ({{ activeBucket }})</h3>
          <el-row>
            <el-col :span="6">
              <el-button size="small" @click="activeBucket = null">Duplicate</el-button>
              <el-button size="small" type="danger" @click="deleteBucket">Delete</el-button>
              <el-table size="mini" :data="bucketDetail.columns" style="width: 100%; margin-top: 10px">
                <el-table-column prop="column" label="Key"></el-table-column>
                <el-table-column prop="value" label="Type" width="80"></el-table-column>
              </el-table>
            </el-col>
            <el-col :span="18">
              <el-input
                type="textarea"
                :rows="2"
                v-model="query"
              ></el-input>
              <el-button size="small" @click="doQuery">Query</el-button>
              <el-table size="small" :data="queryResult" style="width: 100%; margin-top: 10px">
                <el-table-column v-for="k in queryResultKeys" :prop="k" :label="k"></el-table-column>
              </el-table>
            </el-col>
          </el-row>
        </template>
        <template v-else>
          <el-form :model="bucketDetail" label-width="200px">
            <el-form-item label="Name" prop="name">
              <el-input v-model="bucketDetail.name"></el-input>
            </el-form-item>
            <el-form-item label="ID" prop="id">
              <el-input v-model="bucketDetail.id"></el-input>
            </el-form-item>
            <el-form-item label="Columns" prop="columns">
              <el-row style="margin-bottom: 10px" v-for="column in bucketDetail.columns">
                <el-col :span="12">
                  <el-input placeholder="Key" v-model="column.column"></el-input>
                </el-col>
                <el-col :span="12">
                  <el-input placeholder="Value" v-model="column.value"></el-input>
                </el-col>
              </el-row>
              <el-button type="button" @click="bucketDetail.columns.push({ column: '', value: '' })">+ Column</el-button>
            </el-form-item>
            <el-form-item label="Date Column" prop="date_column">
              <el-select v-model="bucketDetail.date_column" placeholder="Select column">
                <el-option v-for="column in bucketDetail.columns" :label="`${column.column} (${column.value})`" :value="column.column"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Index" prop="primary_keys">
              <el-select v-model="bucketDetail.primary_keys" multiple placeholder="Select column">
                <el-option v-for="column in bucketDetail.columns" :label="`${column.column} (${column.value})`" :value="column.column"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="createBucket">Create</el-button>
              <el-button @click="saveBucketData">Copy</el-button>
              <el-button @click="loadBucketData">Paste</el-button>
            </el-form-item>
          </el-form>
        </template>
      </el-main>
    </el-container>
    <el-dialog title="Authorization" :visible.sync="dialogVisible" width="640px" :before-close="setAuth">
      <el-form :model="bucketDetail" label-width="80px">
        <el-form-item label="URL" prop="url">
          <el-input v-model="user.url"></el-input>
        </el-form-item>
        <el-form-item label="ID" prop="id">
          <el-input v-model="user.id"></el-input>
        </el-form-item>
        <el-form-item label="Token" prop="token">
          <el-input v-model="user.token"></el-input>
        </el-form-item>
      </el-form>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="setAuth">Set</el-button>
      </span>
    </el-dialog>
  </div>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    function setAuth(url, id, token) {
      axios.defaults.baseURL = url;
      axios.defaults.headers.common['X-Erika-User-Id'] = id
      axios.defaults.headers.common['X-Erika-User-Token'] = token
    }

    axios.interceptors.response.use((response) => {
      return response
    }, (error) => {
      const data = error.response && error.response.data && error.response.data
      if (data && data.code) {
        ELEMENT.Notification.error({
          title: `Request failed (${data.code})`,
          message: data.message,
        })
      }

      return Promise.reject(error)
    })

    new Vue({
      el: '#app',
      data () {
        return {
          user: {
            url: '',
            id: '',
            token: ''
          },
          query: '',
          queryResult: null,
          loading: false,
          buckets: [],
          activeBucket: null,
          bucketDetail: { columns: [] },
          dialogVisible: false
        }
      },
      computed: {
        queryResultKeys () {
          if (!this.queryResult || !this.queryResult[0]) {
            return []
          }
          return Object.keys(this.queryResult[0])
        }
      },
      mounted () {
        if (localStorage) {
          try {
            let user = JSON.parse(localStorage.getItem('erika-user'))
            if (user.url && user.id && user.token) {
              this.user = user
              setAuth(user.url, user.id, user.token)
            }
          } catch (e) {}
        }

        if (!this.user.id) {
          this.dialogVisible = true
        } else {
          this.listBuckets()
        }
      },
      methods: {
        setAuth() {
          if (!this.user.url || !this.user.id || !this.user.token) {
            return this.$message.error('Empty field')
          }

          setAuth(this.user.url, this.user.id, this.user.token)
          if (localStorage) {
            localStorage.setItem('erika-user', JSON.stringify(this.user))
          }

          this.dialogVisible = false
          this.listBuckets()
        },
        listBuckets() {
          this.loading = true
          return axios.get(`/portal/user/${this.user.id}`).then(res => {
            this.buckets = res.data.data.user.buckets
          }).catch(() => {}).then(() => {
            this.loading = false
          })
        },
        async loadBucketData() {
          try {
            const data = await navigator.clipboard.readText()
            this.bucketDetail = {
              columns: [],
              ...JSON.parse(data),
            }
          } catch (e) {
            this.$message.error(`Paste failed: ${e.message}`)
          }
        },
        async saveBucketData() {
          navigator.clipboard.writeText(JSON.stringify(this.bucketDetail, null, 2))
          this.$message.success('Copied')
        },
        getBucket(id) {
          if (id === null) {
            this.activeBucket = null
            this.bucketDetail = { columns: [] }
            return
          }

          this.loading = true
          axios.get(`/portal/bucket/${id}`).then(res => {
            const bucket = res.data.data.bucket
            this.activeBucket = id
            this.bucketDetail = {
              name: bucket.name,
              columns: Object.entries(bucket.structure.columns).map(([column, value]) => ({ column, value })),
              date_column: bucket.structure.date_column,
              primary_keys: bucket.structure.primary_keys
            }
          }).catch(() => {}).then(() => {
            this.loading = false
          })
        },
        createBucket() {
          if (this.loading) return
          this.loading = true
          const { name, id, columns, ...rest } = this.bucketDetail
          axios.post(`/portal/bucket`, {
            name,
            id,
            structure: {
              columns: columns.reduce((obj, { column, value }) => {
                if (!column || !value) return obj

                return {
                  ...obj,
                  [column]: value
                }
              }, {}),
              ...rest,
            }
          }).then(res => {
            const bucket = res.data.data.bucket
            return this.listBuckets().then(() => {
              this.getBucket(bucket.id)
            })
          }).catch(() => {}).then(() => {
            this.loading = false
          })
        },
        deleteBucket() {
          if (this.loading) return
          this.loading = true
          axios.delete(`/portal/bucket/${this.activeBucket}`).then(res => {
            return this.listBuckets().then(() => {
              this.getBucket(null)
            })
          }).catch(() => {}).then(() => {
            this.loading = false
          })
        },
        doQuery() {
          if (this.loading) return
          this.loading = true
          axios.post(`/portal/query/${this.activeBucket}`, {
            query: this.query,
          }).then(res => {
            this.queryResult = res.data.data
          }).catch(() => {}).then(() => {
            this.loading = false
          })
        }
      }
    })
  </script>
</body>
</html>
